// ProductList.scss
.products-list {
    width: -webkit-fill-available;
    padding-right: 40px;

    .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        margin-bottom: 20px;

        &.table {
            table {
                border: 2px solid forestgreen;
                width: 800px;
                height: 200px;

                .warning {
                    color: red;
                }

                th {
                    border-bottom: 1px solid black;
                }

                td {
                    text-align: center;
                }
            }

            display: block;

            .product-item {
                margin-bottom: 20px;
            }
        }

        .product-item {
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;

            .warning {
                color: red;
            }

            h3 {
                margin: 0;
                font-size: 18px;
            }

            p {
                margin: 10px 0;
                font-size: 14px;
            }

            input {
                width: 50px;
                padding: 5px;
            }

            button {
                padding: 8px 12px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}